<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>AC75A61E-50AA-41C8-B58C-473332BA47A7.playgroundpage</string>
		<string>75136285-9937-425A-87A8-7DC898E5B510.playgroundpage</string>
		<string>CB0F1FAB-3678-4B99-8DDC-4B96B1669EE1.playgroundpage</string>
		<string>9C6063B2-296B-425C-97BF-A8A4150B3BD2.playgroundpage</string>
	</array>
</dict>
</plist>
